<h1>¡Contactanos!</h1>
<div class="main-div">
  <div class="form-div">
    <form class="form_wrapper">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Asunto</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mensaje</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <button mat-button color="primary">Enviar</button>
    </form>
  </div>
  <div>map</div>
</div>
